[submodule "External/SVProgressHUD"]
	path = External/SVProgressHUD
	url = https://github.com/samvermette/SVProgressHUD.git
[submodule "External/FMDB"]
	path = External/FMDB
	url = https://github.com/ccgus/fmdb.git
[submodule "External/WordNetDictionary"]
	path = External/WordNetDictionary
	url = https://github.com/countingtoten/WordNetDictionary.git
